.mainContainer{
    display: flex;
}
.leftBox{
    margin-right: auto;
    line-height: 13px;
}
.rightBox{
    line-height: 13px;
}
.priceFirst{
    display: flex;
    justify-content: space-between;
}
.priceSec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.convenience{
    position: relative;
    margin-right: 50px;
}
.total{
    position: relative;
    margin-left: 40px;
}
input[type=checkbox] {
    transform: scale(1.6);
}
button {
    border: 1px solid black;
    background-color: black;
    color: #ffffff;
    padding: 5px 10px;
  }
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@media all and (max-width:992px){   
    .hiding{
        display: none;
    }
}